<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        
        <title>Elastatus</title>
        
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
        <style type="text/css">
          body {
           padding-top: 60px;
           padding-bottom: 40px;
        }
        </style>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-responsive.css">
        <link rel="stylesheet" type="text/css" href="/static/css/DT_bootstrap.css">
        <script type="text/javascript" charset="utf-8" language="javascript" src="/static/js/jquery.js"></script>

        <script type="text/javascript" charset="utf-8" language="javascript" src="/static/js/bootstrap.min.js"></script>
        <script type="text/javascript" charset="utf-8" language="javascript" src="/static/js/jquery.dataTables.js"></script>
        <script type="text/javascript" charset="utf-8" language="javascript" src="/static/js/DT_bootstrap.js"></script>

    </head>
    <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">Elastatus</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-tasks icon-white"></i> 
                  {% set current_account = request.path.split('/')[1] %}
                  {% set current_region = request.path.split('/')[2] %}
                  {% set current_service = request.path.split('/')[3] %}
                  {% if current_account == '' %}
                  Accounts
                  {% elif config['CONFIG']['accounts'].has_key(current_account) %}
                  {{ current_account.capitalize() }}
                  {% else %}
                  Accounts
                  {% endif %} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                {% for account in config['CONFIG']['accounts'] %}
                  <li><a href="{{ request.path.replace(current_account, account) }}">{{ account.capitalize() }}</a></li>
                {% endfor %}
                </ul>
              </li>
              <li class="dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-globe icon-white"></i> 
                  {{ request.path.split('/')[2] }} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                {% for region in config['CONFIG']['regions'] %}
                  <li><a href="{{ request.path.replace(current_region, region) }}">{{ region }}</a></li>
                {% endfor %}
                </ul>
              </li>

              <li class="dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-hdd icon-white"></i>
                  Compute<b class="caret"></b></a>
                <ul class="dropdown-menu">
                {% for service in config['CONFIG']['aws']['compute'] %}
                  <li><a href="/{{ current_account }}/{{current_region}}/{{ service }}">{{ service.upper() }}</a></li>
                {% endfor %}
                </ul>
              </li>

              <li class="dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-tasks icon-white"></i>
                  Database<b class="caret"></b></a>
                <ul class="dropdown-menu">
                {% for service in config['CONFIG']['aws']['database'] %}
                  <li><a href="/{{ current_account }}/{{current_region}}/{{ service }}">{{ service.upper() }}</a></li>
                {% endfor %}
                </ul>
              </li>

              <li class="dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-inbox icon-white"></i>
                  App Services<b class="caret"></b></a>
                <ul class="dropdown-menu">
                {% for service in config['CONFIG']['aws']['services'] %}
                  <li>
                    {% if service == "route53" %}
                    <a href="/{{ config['CONFIG']['route53']['account'] }}/{{current_region}}/{{ service }}">{{ service.upper() }}</a></li>
                    {% else %}
                    <a href="/{{ current_account }}/{{current_region}}/{{ service }}">{{ service.upper() }}</a></li>
                    {% endif %}
                {% endfor %}
                </ul>
              </li>

              <li class="dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-tags icon-white"></i>
                  Deployments<b class="caret"></b></a>
                <ul class="dropdown-menu">
                {% for service in config['CONFIG']['aws']['deployments'] %}
                  <li><a href="/{{ current_account }}/{{current_region}}/{{ service }}">{{ service.upper() }}</a></li>
                {% endfor %}
                </ul>
              </li>

            </ul>          
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    {% block content %}
    {% endblock %}

  </body>
</html>


       